{{#if error}}
<p>{{error}}</p>
{{/if}}
<p>We've have send the code</p>
<p>Please enter the code here : </p>
<form action="/step3" method="post">
<input type="hidden" name="id" value="{{id}}"/>
<input type="text" name="token"> 
<input type="submit" value="Check Code">
</form>